//= template/header.html
		<div class="content">
			<div class="item">
				<a href="#" class="item__title">
Почему веб-дизайн теряет свою душу? А котики все время хотят жрать?</a>
				<div class="info">
					<div class="info__item info__item-date">25 сентября 2016</div>
					<div class="info__item info__item-comments"><span>12</span> комментариев</div>
					<div class="info__item info__item-like"><span>34</span></div>
				</div>
				<div class="item__img" style="background-image: url('images/pochemu-veb-dizajn-teryaet-svoyu-dushu.jpg');"></div>
				<p class="item__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque impedit recusandae similique sapiente voluptate modi tenetur facilis hic eveniet commodi. Dignissimos suscipit in dolores temporibus quo explicabo eius officia illum quae a ipsa eum maxime voluptatum, magni eos, vel odit perspiciatis molestias provident esse. Eos ad voluptatum, animi illo maxime.</p>
				<div class="item__readmore">
					<div class="info">
						<div class="info__item info__item-views"><span>145</span> просмотров</div>
						<div class="info__item info__item-shared">поделиться</div>
					</div>
					<a href="#" class="readmore">прочитать полностью</a>
				</div>
			</div>
			<div class="item">
				<a href="#" class="item__title">
Почему веб-дизайн теряет свою душу? А котики все время хотят жрать?</a>
				<div class="info">
					<div class="info__item info__item-date">25 сентября 2016</div>
					<div class="info__item info__item-comments">12 комментариев</div>
					<div class="info__item info__item-like">34</div>
				</div>
				<div class="item__img" style="background-image: url('images/pochemu-veb-dizajn-teryaet-svoyu-dushu.jpg');"></div>
				<p class="item__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque impedit recusandae similique sapiente voluptate modi tenetur facilis hic eveniet commodi. Dignissimos suscipit in dolores temporibus quo explicabo eius officia illum quae a ipsa eum maxime voluptatum, magni eos, vel odit perspiciatis molestias provident esse. Eos ad voluptatum, animi illo maxime.</p>
				<div class="item__readmore">
					<div class="info">
						<div class="info__item info__item-views">145 просмотров</div>
						<div class="info__item info__item-shared">поделиться</div>
					</div>
					<a href="#" class="readmore">прочитать полностью</a>
				</div>
			</div>
			<div class="item">
				<a href="#" class="item__title">
Почему веб-дизайн теряет свою душу? А котики все время хотят жрать?</a>
				<div class="info">
					<div class="info__item info__item-date">25 сентября 2016</div>
					<div class="info__item info__item-comments">12 комментариев</div>
					<div class="info__item info__item-like">34</div>
				</div>
				<div class="item__img" style="background-image: url('images/pochemu-veb-dizajn-teryaet-svoyu-dushu.jpg');"></div>
				<p class="item__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque impedit recusandae similique sapiente voluptate modi tenetur facilis hic eveniet commodi. Dignissimos suscipit in dolores temporibus quo explicabo eius officia illum quae a ipsa eum maxime voluptatum, magni eos, vel odit perspiciatis molestias provident esse. Eos ad voluptatum, animi illo maxime.</p>
				<div class="item__readmore">
					<div class="info">
						<div class="info__item info__item-views">145 просмотров</div>
						<div class="info__item info__item-shared">поделиться</div>
					</div>
					<a href="#" class="readmore">прочитать полностью</a>
				</div>
			</div>
			<div class="item">
				<a href="#" class="item__title">
Почему веб-дизайн теряет свою душу? А котики все время хотят жрать?</a>
				<div class="info">
					<div class="info__item info__item-date">25 сентября 2016</div>
					<div class="info__item info__item-comments">12 комментариев</div>
					<div class="info__item info__item-like">34</div>
				</div>
				<div class="item__img" style="background-image: url('images/pochemu-veb-dizajn-teryaet-svoyu-dushu.jpg');"></div>
				<p class="item__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque impedit recusandae similique sapiente voluptate modi tenetur facilis hic eveniet commodi. Dignissimos suscipit in dolores temporibus quo explicabo eius officia illum quae a ipsa eum maxime voluptatum, magni eos, vel odit perspiciatis molestias provident esse. Eos ad voluptatum, animi illo maxime.</p>
				<div class="item__readmore">
					<div class="info">
						<div class="info__item info__item-views">145 просмотров</div>
						<div class="info__item info__item-shared">поделиться</div>
					</div>
					<a href="#" class="readmore">прочитать полностью</a>
				</div>
			</div>
			<div class="pagination">
				<a href="#" class="pagination__item">1</a>
				<span class="pagination__item pagination__item-active">2</span>
				<a href="#" class="pagination__item">3</a>
				<a href="#" class="pagination__item">4</a>
				<a href="#" class="pagination__item">5</a>
			</div>
		</div>
		//= template/sidebar.html
	</div>
	<script src="./js/jquery.min.js"></script>
	<script src="./js/main.js"></script>
</body>
</html>